<div class="container">
    <div class="row">
        <button class="col my-1 mx-3 btn btn-dark" (click)="sendCommand({command: '0x807F41BE'})">U V</button>
        <button class="col my-1 mx-3 btn btn-danger" (click)="sendCommand({command: '0x807FC13E'})">POWER</button>
    </div>
    <div class="row">
        <button (click)="sendCommand({command: '0x807FA15E'})" class="col m-2 btn btn-light border border-dark">&#8679;</button>
        <button (click)="sendCommand({command: '0x807F21DE'})" class="col m-2 btn btn-light border border-dark">&#8681;</button>
        <button (click)="sendCommand({command: '0x807F619E'})" class="col m-2 btn btn-light border border-dark">M</button>
        <button (click)="sendCommand({command: '0x807FE11E'})" class="col m-2 btn btn-light border border-dark">B</button>
    </div>
    <div class="row">
        <button (click)="sendCommand({command: '0x807F916E'})" class="col m-2 btn btn-light border border-dark">I C</button>
        <button (click)="sendCommand({command: '0x807F11EE'})" class="col m-2 btn btn-success border border-dark">&#8689;</button>
        <button (click)="sendCommand({command: '0x807F51AE'})" class="col m-2 btn btn-primary border border-dark">&#8689;</button>
        <button (click)="sendCommand({command: '0x807FD12E'})" class="col m-2 btn btn-light border border-dark">AUTO</button>
    </div>
    <div class="row">
        <button (click)="sendCommand({command: '0x807FB14E'})" class="col m-2 btn btn-chocolate border border-dark">CS</button>
        <button (click)="sendCommand({command: '0x807F31CE'})" class="col m-2 btn btn-light border border-dark">&#8668;</button>
        <button (click)="sendCommand({command: '0x807F718E'})" class="col m-2 btn btn-light border border-dark">&#8669;</button>
        <button (click)="sendCommand({command: '0x807FF10E'})" class="col m-2 btn btn-yellow border border-dark">&#8635;</button>
    </div>
    <div class="row">
        <button (click)="sendCommand({command: '0x807FA956'})" class="col m-2 btn btn-darkorange border border-dark">C3</button>
        <button (click)="sendCommand({command: '0x807F29D6'})" class="col m-2 btn btn-light border border-dark">&#8672;</button>
        <button (click)="sendCommand({command: '0x807F6996'})" class="col m-2 btn btn-light border border-dark">&#8674;</button>
        <button (click)="sendCommand({command: '0x807FE916'})" class="col m-2 btn btn-cyan border border-dark">FLASH</button>
    </div>
    <div class="row">
        <button (click)="sendCommand({command: '0x807F9966'})" class="col m-2 btn btn-gold border border-dark">C 7</button>
        <button (click)="sendCommand({command: '0x807F19E6'})" class="col m-2 btn btn-light border border-dark">&larr;</button>
        <button (click)="sendCommand({command: '0x807F59A6'})" class="col m-2 btn btn-light border border-dark">&rarr;</button>
        <button (click)="sendCommand({command: '0x807FD926'})" class="col m-2 btn btn-magenta border border-dark">JUMP</button>
    </div>
    <div class="row">
        <button (click)="sendCommand({command: '0x807F8976'})" class="col m-2 btn btn-yellow border border-dark">C16</button>
        <button (click)="sendCommand({command: '0x807F09F6'})" class="col m-2 btn btn-light border border-dark">&#8656;</button>
        <button (click)="sendCommand({command: '0x807F49B6'})" class="col m-2 btn btn-light border border-dark">&#8658;</button>
        <button (click)="sendCommand({command: '0x807FC936'})" class="col m-2 btn btn-darkred border border-dark">Meteor</button>
    </div>
    <div class="mt-3">
        <button class="btn btn-block btn-dark" *ngIf="!isAlive" (click)="testConnection()">Connecting...</button>
        <button class="btn btn-block btn-success" *ngIf="isAlive" disabled>Connected</button>
    </div>
</div>